<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block titulo %}
        CopPinPy
        {% endblock %}
    </title>
  </head>

  {% block body %}
    <body class="overflow-hidden">
    <div class="container">
      <header>
        <nav>
          <div class="logo-pinterest">
            <svg
              height="40"
              viewBox="-3 -3 82 82"
              width="40"
              style="display: block"
            >
              <circle cx="38" cy="38" fill="purple" stroke="black" r="40"></circle>
              <h1>CopPinPy</h1>
          </div>

          <div class="restante-nav">
            <a href="" class="link-nav">About</a>
            <a href="" class="link-nav">Business</a>
            <a href="" class="link-nav">Blog</a>
          </div>
        </nav>
      </header>

      <img src="{{ url_for('static', filename='fotos_site/fundo_login.jfif') }}" class="bg-imagem-pinterest" />

      <div class="container-popup">
        {% block formulario %}
        <form method="POST" class="popup">
            {{ form.csrf_token }}
          <svg
            height="40"
            viewBox="-3 -3 82 82"
            width="40"
            style="display: block"
          >
            <circle cx="38" cy="38" fill="purple" stroke="black" r="40"></circle>
          </svg>

          <h2>Bem-vindo(a) ao CopPinPy</h2>

          <div class="div-input">
            {{ form.email.label(class="label") }}
            {{ form.email(class="input") }}
          </div>

          <div class="div-input">
            {{ form.senha.label(class="label") }}
            {{ form.senha(class="input") }}
          </div>

          <div class="div-botao">
            {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('criarconta') }}" class="link-criarconta">Criar uma Conta</a>
          </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </body>
{% endblock %}
</html>